---------------------------------------------------------------------------------
-- Procedure Name: [dbo].[StatisticsUsed]
--
-- Desc: This procedure analyzes all the execution plans used by:
--			A single @QueryID
--			A list Query IDs
--			A stored procedure
--		on the selected @DatabaseName
--			Lists all the statistics used along with their details, and generates an UPDATE STATISTICS command based on:
--				How old the statistics are (@ExpirationThreshold)
--				How many rows were modified since then (@ModificationThreshold)
--			With the sample rate defined by the function [dbo].[StatisticsSamplePercent]
--				This is an example function: review its logic and addapt both that function and the procedure [dbo].[StatisticsUsed] itself if required
--
-- Parameters:
--	INPUT
--		@DatabaseName			SYSNAME
--			Name of the database whose query is being analyzed
--			[No default]
--		@QueryID				BIGINT  
--			Identifier of the query (obtained from Query Store) to be analyzed
--			[Default: NULL]
--		@QueryIDList			NVARCHAR(MAX)
--			Comma-separated list of queries to be analyzed
--			[Default: NULL]
--		@ObjectName				NVARCHAR(MAX)
--			Full name (schema.object) of the object whose subqueries are to be analyzed
--			[Default: NULL]
--		@ExpirationThreshold	INT
--			Minimum age (in minutes) the statistic must have for it to be considered for re-calculation
--			[Default: 300]
--		@ModificationThreshold	INT
--			Minimum of rows (in %) modified in the statistic for it to be considered for re-calculation
--			[Default: 5]
--		@SamplePersist			BIT
--			Prints out the dynamic SQL commands generated by the SP
--			[Default: 0]
--
--		@VerboseMode			BIT
--			Prints out the dynamic SQL commands generated by the SP
--			[Default: 0]
--
-- Sample execution:
--
--		*** Statistics for specific Query ID
--	EXECUTE [dbo].[StatisticsUsed]
--	 @DatabaseName		=	'TargetDB'
--	,@QueryID		=	32131
--	,@ExpirationThreshold	=	1400
--	,@ModificationThreshold	=	10
--
--
--
--		*** Statistics for list of Query IDs
--
--	EXECUTE [dbo].[StatisticsUsed]
--	 @DatabaseName		=	'TargetDB'
--	,@QueryIDList		=	'32131,3214,32133'
--	,@ExpirationThreshold	=	60
--	,@ModificationThreshold	=	25
--
--
--
--		***	Statistics for object
--
--	EXECUTE [dbo].[StatisticsUsed]
--	 @DatabaseName		=	'TargetDB'
--	,@ObjectName		=	'dbo.Procedure'
--	,@ExpirationThreshold	=	300
--	,@ModificationThreshold	=	5
--	,@PersistSamplePercent	=	1
--		
--
-- Date: 2021.05.08
-- Auth: Pablo Lozano (@sqlozano)
----------------------------------------------------------------------------------

CREATE OR ALTER PROCEDURE [dbo].[StatisticsUsed]  
(  
	 @DatabaseName			SYSNAME
	,@QueryID				BIGINT  		=	NULL
	,@QueryIDList			NVARCHAR(MAX)	=	NULL
	,@ObjectName			NVARCHAR(MAX)	=	NULL
	,@ExpirationThreshold	INT				=	300
	,@ModificationThreshold	INT				=	5
	,@PersistSample			BIT				=	0
	,@VerboseMode			BIT				=	0
)  
AS  
BEGIN  
SET NOCOUNT ON  

-- Get list of QueryIDs to be analyzed - START
DROP TABLE IF EXISTS #QueryIDs
CREATE TABLE #QueryIDs
(
	[QueryID]	BIGINT
)
-- Single Query ID (@QueryID)
IF (@QueryID IS NOT NULL)
	INSERT INTO #QueryIDs ([QueryID]) VALUES (@QueryID)
-- Multiple Query IDs (@QueryIDList)
IF (@QueryIDList IS NOT NULL)
	INSERT INTO #QueryIDs ([QueryID])
	SELECT CAST([value] AS BIGINT)
	FROM STRING_SPLIT(@QueryIDList,',')
-- Multiple Query IDs belonging to an specific object (@ObjectName)
IF (@ObjectName IS NOT NULL)
BEGIN
	SET @ObjectName = REPLACE(@ObjectName, '[', '')
	SET @ObjectName = REPLACE(@ObjectName, ']', '')
	DECLARE @GetObjectQueriesSqlCmd NVARCHAR(MAX) =
	'USE [{@DatabaseName}];
	INSERT INTO #QueryIDs ([QueryID])
	SELECT [qsq].[query_id]
	FROM [sys].[query_store_query] [qsq]
	INNER JOIN [sys].[objects] [o]
	ON [qsq].[object_id] = [o].[object_id]
	INNER JOIN [sys].[schemas] [s]
	ON [o].[schema_id] = [s].[schema_id]
	WHERE [s].[name] + ''.'' + [o].[name] = ''{@ObjectName}'''
	SET @GetObjectQueriesSqlCmd = REPLACE(@GetObjectQueriesSqlCmd,	'{@DatabaseName}',	@DatabaseName)
	SET @GetObjectQueriesSqlCmd = REPLACE(@GetObjectQueriesSqlCmd,	'{@ObjectName}',	@ObjectName)
	IF (@VerboseMode = 1) PRINT (@GetObjectQueriesSqlCmd)
	EXECUTE (@GetObjectQueriesSqlCmd)
END
-- Get list of QueryIDs to be analyzed - END

-- Get all different Execution Plans used by the QueryID - START
DROP TABLE IF EXISTS #ExecutionPlans
CREATE TABLE #ExecutionPlans
(
	[ExecutionPlan]	NVARCHAR(MAX)
)
DECLARE @GetExecutionPlansSqlCmd NVARCHAR(MAX) = 
'USE [{@DatabaseName}];
INSERT INTO #ExecutionPlans ([ExecutionPlan])
SELECT [qsp].[query_plan]
FROM [sys].[query_store_plan] [qsp]
INNER JOIN #QueryIDs [q]
ON [qsp].[query_id] = [q].[QueryID]'
SET @GetExecutionPlansSqlCmd = REPLACE(@GetExecutionPlansSqlCmd, '{@DatabaseName}',	@DatabaseName)
IF (@VerboseMode = 1) PRINT (@GetExecutionPlansSqlCmd)
EXECUTE (@GetExecutionPlansSqlCmd)
DROP TABLE IF EXISTS #QueryIDs
-- Get all different Execution Plans used by the QueryID - END


-- Table to contain the XML data (one line at a time) for all plans - START
DROP TABLE IF EXISTS #XMLContent  
CREATE TABLE #XMLContent  
(  
	[LineContent] NVARCHAR(MAX)  
)  
-- Table to contain the XML data (one line at a time) for all plans - END


-- Loop through each execution plan used by @QueryID - START  
DECLARE @PlanXML	NVARCHAR(MAX)
DECLARE [PlanXMLCursor] CURSOR LOCAL FAST_FORWARD READ_ONLY
FOR
SELECT [ExecutionPlan]
FROM #ExecutionPlans

OPEN [PlanXMLCursor]
FETCH NEXT FROM [PlanXMLCursor] INTO @PlanXML
WHILE (@@FETCH_STATUS = 0)
BEGIN
	-- Variables used to loop through the execution plan - START  
	DECLARE @LineNumber INT = 0  
	DECLARE @LineStart	INT = 0  
	DECLARE @LineEnd	INT = 0  
	DECLARE @LineText	NVARCHAR(MAX)  
	-- Variables used to loop through the execution plan - END  
	  
	-- Loop through each line containing StatisticsInfo (reading XML as plain text) - START  
	WHILE(@LineNumber = 0 OR @LineStart != 0)  
	BEGIN  
		SET @LineStart	= CHARINDEX('<StatisticsInfo', @PlanXML, @LineEnd)  
		SET @LineEnd	= CHARINDEX('>', @PlanXML, @LineStart + 1)  
		SET @LineText	= REPLACE(SUBSTRING(@PlanXML,@LineStart, 1 + @LineEnd - @LineStart), '>', '/>')
		IF (@LineStart != 0)
			INSERT INTO #XMLContent ([LineContent])  
			VALUES (@LineText)
		IF (@LineStart = 0)
			BREAK
	END  
	-- Loop through each line (reading XML as plain text) - END  
	FETCH NEXT FROM [PlanXMLCursor] INTO @PlanXML
END

CLOSE [PlanXMLCursor]
DEALLOCATE [PlanXMLCursor]
-- Loop through each execution plan used by @QueryID - END


-- Create temp table to store list of statistics in use - START
DROP TABLE IF EXISTS #PlanMinerTable_Statistics
CREATE TABLE #PlanMinerTable_Statistics
(
	 [DatabaseNamePlan]		SYSNAME			NULL
	,[SchemaName]			SYSNAME			NULL
	,[TableName]			SYSNAME			NULL
	,[StatisticName]		SYSNAME			NULL
)
-- Create temp table to store list of statistics in use - END


-- Extract the Statistics information out of the #XMLContent table - END
DECLARE @XMLContent	XML

DECLARE [XMLContentCursor] CURSOR LOCAL FAST_FORWARD READ_ONLY
FOR
SELECT TRY_CONVERT(XML,[LineContent])
FROM #XMLContent

OPEN [XMLContentCursor]
FETCH NEXT FROM [XMLContentCursor] INTO @XMLContent
WHILE (@@FETCH_STATUS = 0)
BEGIN
	INSERT INTO #PlanMinerTable_Statistics
	SELECT 
		 [DatabaseNamePlan]				=	REPLACE(REPLACE(@XMLContent.value('(/StatisticsInfo/@Database)[1]',		'NVARCHAR(128)'),']',''),'[','')
		,[SchemaName]					=	REPLACE(REPLACE(@XMLContent.value('(/StatisticsInfo/@Schema)[1]',		'NVARCHAR(128)'),']',''),'[','')
		,[TableName]					=	REPLACE(REPLACE(@XMLContent.value('(/StatisticsInfo/@Table)[1]',		'NVARCHAR(128)'),']',''),'[','')
		,[StatisticsName]				=	REPLACE(REPLACE(@XMLContent.value('(/StatisticsInfo/@Statistics)[1]',	'NVARCHAR(128)'),']',''),'[','')
	FETCH NEXT FROM [XMLContentCursor] INTO @XMLContent
END
CLOSE [XMLContentCursor]
DEALLOCATE [XMLContentCursor]
-- Extract the Statistics information out of the #XMLContent table - END

-- Create temp table #AllStatistics to store the details of the statistics used by the query - START
DROP TABLE IF EXISTS #AllStatistics
CREATE TABLE #AllStatistics
(
	 [DatabaseName]				SYSNAME
	,[SchemaName]				SYSNAME
	,[TableName]				SYSNAME
	,[StatisticsName]			SYSNAME
	,[RowsTotal]				BIGINT
	,[RowsSampled]				BIGINT
	,[RowsSampled%]				DECIMAL(16,2)
	,[RowsModified]				BIGINT
	,[RowsModified%]			DECIMAL(16,2)
	,[StatisticsLastUpdated]	DATETIME2
)
-- Create temp table #AllStatistics to store the details of the statistics used by the query - END

-- Prepare query to insert the Statistics' information for every database mentioned in the plan into #AllStatistics - START
DECLARE @GetStatisticsDetailsPerDatabaseTemplateSqlCmd NVARCHAR(MAX) = 
'USE [{@DatabaseName}];
INSERT INTO #AllStatistics
SELECT DISTINCT
	 ''{@DatabaseName}''
	,[s].[SchemaName]
	,[s].[TableName]
	,[s].[StatisticName]
	,[stp].[rows] as [RowsTotal]
	,[stp].[rows_sampled] AS [RowsSampled]
	,CAST( CONVERT(FLOAT, [stp].[rows_sampled])*100 / CONVERT(FLOAT,[stp].[rows]) AS DECIMAL(16,2)) [RowsSampled%]
	,[stp].[modification_counter] AS [RowsModified]
	,CAST(CONVERT(FLOAT, [stp].[modification_counter])*100 / CONVERT(FLOAT, [stp].[rows]) AS DECIMAL(16,2)) [RowsModified%]
	,[stp].[last_updated] AS [StatisticsLastUpdated]
FROM #PlanMinerTable_Statistics [s]
INNER JOIN [sys].[stats] [st]
ON [st].[object_id] = OBJECT_ID([s].[SchemaName] + ''.'' + [s].[TableName])
AND [st].[name] = [s].[StatisticName]
CROSS APPLY [sys].[dm_db_stats_properties]([st].[object_id], [st].[stats_id]) [stp]
WHERE [s].[DatabaseNamePlan] = ''{@DatabaseName}'''
DECLARE @GetStatisticsDetailsPerDatabaseSqlCmd NVARCHAR(MAX)
-- Prepare query to insert the Statistics' information for every database mentioned in the plan into #AllStatistics - END

-- Loop through each database mentioned in the execution plan (for objects accessed on a different database than the one the query was logged) - START
DECLARE @DatabaseNamePlan SYSNAME
DECLARE [DatabaseNameCursor] CURSOR LOCAL FAST_FORWARD READ_ONLY
FOR
SELECT DISTINCT [DatabaseNamePlan]
FROM #PlanMinerTable_Statistics
WHERE [DatabaseNamePlan] != 'mssqlsystemresource'

OPEN [DatabaseNameCursor]
FETCH NEXT FROM [DatabaseNameCursor] INTO @DatabaseNamePlan
WHILE (@@FETCH_STATUS = 0)
BEGIN

	SET @GetStatisticsDetailsPerDatabaseSqlCmd = REPLACE(@GetStatisticsDetailsPerDatabaseTemplateSqlCmd, '{@DatabaseName}',	@DatabaseNamePlan)
	IF (@VerboseMode = 1) PRINT (@GetStatisticsDetailsPerDatabaseSqlCmd)
	EXECUTE (@GetStatisticsDetailsPerDatabaseSqlCmd)
	FETCH NEXT FROM [DatabaseNameCursor] INTO @DatabaseNamePlan
END
CLOSE [DatabaseNameCursor]
DEALLOCATE [DatabaseNameCursor]
-- Loop through each database mentioned in the execution plan (for objects accessed on a different database than the one the query was logged) - END

DROP TABLE IF EXISTS #PlanMinerTable_Statistics


-- Generate the report & UPDATE STATISTICS commands - START
SELECT
	 [DatabaseName]
	,[SchemaName]
	,[TableName]
	,[StatisticsName]
	,[RowsTotal]
	,[RowsSampled]
	,[RowsSampled%]
	,[RowsModified]
	,[RowsModified%]
	,[StatisticsLastUpdated]
	,CASE	-- Statistics NOT to be updated - START
		-- @ModificationThreshold
		WHEN
			[RowsModified%] < @ModificationThreshold
			THEN '-- < ' + CAST(@ModificationThreshold AS NVARCHAR(3)) + ' % of rows modified'
		-- @ExpirationThreshold
		WHEN 
			DATEDIFF(MINUTE,[StatisticsLastUpdated],GETDATE() ) < @ExpirationThreshold
			THEN '-- < ' + CAST(@ExpirationThreshold AS NVARCHAR(4)) + ' minutes since this statistic was last updated'
		-- No exclusion
		ELSE ''
	END AS [Excluded?]
	,'USE ' + QUOTENAME([DatabaseName]) + '; UPDATE STATISTICS ' + QUOTENAME([SchemaName]) + '.' + QUOTENAME([TableName]) + ' ' + QUOTENAME([StatisticsName]) + ' WITH SAMPLE '
	 +
	  CASE
	 	WHEN [RowsSampled%] >= 50 THEN CAST(100 AS NVARCHAR(3))
		ELSE CAST(ISNULL([dbo].[StatisticsSamplePercent]([RowsTotal],[RowsSampled%]),5) AS NVARCHAR(3))
	  END +
	 ' PERCENT'
	 +
	  CASE @PersistSample
		WHEN 1 THEN ', PERSIST_SAMPLE_PERCENT = ON;'
		ELSE ''
	  END
	 + ';'
	 AS [UpdateStatsCommand]
	 -- UPDATE STATISTICS command - END
FROM #AllStatistics
ORDER BY 
	 [DatabaseName]		ASC
	,[SchemaName]		ASC
	,[TableName]		ASC
	,[StatisticsName]	ASC
-- Generate the report & UPDATE STATISTICS commands - END

DROP TABLE IF EXISTS #AllStatistics
END